body {
  font-family: 'Arial', sans-serif;
  background-color: #04011d;
  color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.2rem;
}

.btn-login {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #554ca3;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.btn-login:hover {
  background-color: #eee;
  color: #372f87;
}
