<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express com EJS!</h1>
    <p>Bem vindo! Aplicação gerada com o Express Generator.</p>
  </body>
</html>
