<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Página de Usuários</h1>
<a href="/login" class="btn">Faça o login</a>
  </body>
</html>
