body {
  font-family: 'Roboto', sans-serif;
  background-color: #554ca3;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;               /* ocupa a altura total da tela */
  display: flex;               /* ativa o flexbox */
  flex-direction: column;      /* organiza os elementos em coluna */
  justify-content: center;     /* centraliza verticalmente */
  align-items: center;         /* centraliza horizontalmente */
  text-align: center;          /* centraliza o texto */
}
h1 {
  font-size: 3em;
  margin-bottom: 20px;
}   